<form action="" class="section-form form">
  <div class="form__body">
    <div class="form__item">
      <label class="form__label">
        <span>Ваше имя</span>
        <div class="input error">
          <input type="text" class="input__field" placeholder="Иван">
        </div>
      </label>
    </div>
    <div class="form__item">
      <label class="form__label">
        <span>Ваш телефон</span>
        <div class="input">
          <input type="text" class="input__field" placeholder="+7(___) ___ - __ - __">
        </div>
      </label>
    </div>
    <div class="form__item">
      <label class="form__label">
        <span>Ваш E-mail</span>
        <div class="input">
          <input type="email" class="input__field" placeholder="example@domain.ru">
        </div>
      </label>
    </div>
    <div class="form__item">
      <div class="form__btn">
        <a class="btn btn--primary btn--icon uk-width-1-1" href="#" role="button">
          <span>Записаться</span>
        </a>
      </div>
    </div>
    <div class="form__item">
      <label class="checkbox checkbox--confirm">
        <div class="checkbox__label">
          <input type="checkbox" class="checkbox__input" value="3">
          <span class="checkbox__mark"></span>
          <div class="checkbox__text">
            Нажимая на кнопку вы соглашаетесь с <a href="#" class="link">политикой конфиденциальности</a>
          </div>
        </div>

      </label>
    </div>
  </div>
</form>