<div class="header-top-contacts">
  <div class="header-top-contacts__contacts">
    <div class="contacts-info">
      <div class="contacts-info__phone">
        <a href="tel:+74950000000" class="link"><span>+7 (495) 000-00-00</span></a>
      </div>
      <div class="contacts-info__icon">
        <a href="#" class="link link--icon-only">{{mixins.icon('wtsp')}}</a>
      </div>
      <div class="contacts-info__icon">
        <a href="#" class="link link--icon-only">{{mixins.icon('tg')}}</a>
      </div>
    </div>
  </div>
  <div class="header-top-contacts__work">
    <span class="text-is-highlighted">Адрес</span>
  </div>
  <div class="header-top-contacts__work">
    <span class="text-is-highlighted">Ежедневно с 9:00 до 20:00</span>
  </div>
</div>