<nav class="mobile-nav">
  <ul class="mobile-nav__list">
    <li class="mobile-nav__item">
      <a href=".././about.html" class="mobile-nav__link">
        <span class="link">О клинике</span>
      </a>
    </li>
    <li class="mobile-nav__item">
      <a href=".././doctors.html" class="mobile-nav__link">
        <span class="link">Врачи</span>
      </a>
    </li>
    <li class="mobile-nav__item">
      <a href=".././price.html" class="mobile-nav__link">
        <span class="link">Прайс</span>
      </a>
    </li>
  </ul>
</nav>
